{{> header}}

<div class="container-fluid">
  <h1>Settings</h1>

  <ul class="list-group">
    <li class="list-group-item">
      <h4>Account</h4>
    </li>
    <li class="list-group-item">Edit Profile</li>
    <li class="list-group-item">Change Password</li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <h4>Courses</h4>
    </li>
    <li class="list-group-item">My Courses</li>
    <li class="list-group-item">Subscribed</li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <h4>About</h4>
    </li>
    <li class="list-group-item">Help</li>
    <li class="list-group-item">Privacy Policy</li>
    <li class="list-group-item">Terms</li>
  </ul>
</div>

{{> footer}}
