{{> header}}

{{> nav}}

<div class="container">
  <table class="table">
      {{#each courses}}
        <tr>
          <td>
            <strong>{{name}}</strong>
            <br/>
            Used: {{uses}} times
          </td>
        </tr>
      {{/each}}
  </table>
</div>

{{> footer}}
