{{> header}}

{{> nav}}

<div class="container-fluid">
  <table class="table">
      {{#each courses}}
        <tr>
          <td>
            <strong>{{name}}</strong>
          </td>
        </tr>
      {{/each}}
  </table>
</div>

{{> footer}}
