{{> header}}

{{> nav}}

<div class="container-fluid">
  <a href="/tasks/add" class="topNavButton"><i class="fa fa-times fa-2x"></i></a>
  <div class="btn-group" data-toggle="buttons">
      {{#each courses}}
        <label class="btn btn-primary">
          <input type="radio" name="query" class="courseSearchButton" value="{{name}}"> {{name}}
        </label>
      {{/each}}
  </div>
  <hr/>
  <div id="courseSearchResults">
    <ul class="list-group">
      <li class="list-group-item">
        Search a course name to get started!
      </li>
    </ul>
  </div>

</div>

{{> footer}}
